.DS_Store
.idea/
docs/_site
docs/Gemfile.lock
*.blg
*.idx
*.bcf
*.egg
*.nav
*.out
*.pyc
*.vrb
qmcpy/.ipynb_checkpoints/
qmcpy/build/
qmcpy/.vscode/
qmcpy.egg-info/
qmcpy/workouts/Outputs/*.png
qmcpy/__pycache__/
