# General Python
.pypirc
test_readme.py
github.com/QMCSoftware/LDData/
api.github.com/
coverage.json
*.ckpt
*.npz
*.csv 
*hparams.yaml
*.ipynb_checkpoints/
demos/fgpr_figs/
*__pycache__/
qmcpy.egg-info/
*.blg
*.idx
*.bcf
*.egg
*.nav
*.out
*.pyc
*.vrb
.DS_Store
.idea/
.pytest_cache/
demos/prob_failure_gp_ci_plots/
raw.githubusercontent.com/*
demos/.jupyter

# tests
.coverage

# C
*.so
*.dylib
*.dll
*.pyd

# R
*.Rhistory 

# Website
docs/_site
docs/Gemfile.lock

# Sphinx
sphinx/_build/
sphinx/_static/
sphinx/demo_rst/
sphinx/md_rst/
sphinx/uml/
node_modules/*
sphinx/*.jpg

# Jupyter Notebooks
*checkpoint.ipynb
demos/**.png
demos/**.eps



# release
/build/
dist/

# blogs
blogs/why_q_in_mc/*.png

# alegresor
*.vscode
_ags* 
_ags/*

# Fred's private stuff, not for tracking
*Fred*

# SC Choi's file exclusion
.vscode/settings.json

# Downloaded files
raw.githubusercontent.com*
