cycler==0.10.0
kiwisolver==1.1.0
matplotlib==3.1.1
mpmath==1.1.0
numpy==1.17.2
pandas==0.25.1
pyparsing==2.4.2
python-dateutil==2.8.0
pytz==2019.2
scipy==1.3.1
six==1.12.0
sphinx==2.2.0
m2r==0.2.1
sphinx_rtd_theme==0.4.3
