# cSpell:words Booktests ipynb booktests booktest gpytorch botorch umbridge
name: Booktests

on:
  push:
    paths:
      - 'demos/**/*.ipynb'
      - '.github/workflows/booktests.yml'
  pull_request:
    paths:
      - 'demos/**/*.ipynb'
      - '.github/workflows/booktests.yml'

jobs:
  booktests:
    name: Notebook Tests on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: ["ubuntu-latest"]
    steps:
      - uses: actions/checkout@v4
      - uses: conda-incubator/setup-miniconda@v3
        with:
          miniconda-version: "latest"
          auto-activate-base: true
      - name: Free up space before install
        run: |
          sudo apt-get clean
          sudo rm -rf /usr/share/dotnet /usr/local/lib/android /opt/ghc
          df -h
          conda clean --all --yes
          pip cache purge || true
      - name: Install base dependencies
        run: pip install -e .[test]
      - name: Install LaTeX
        run: |    
          sudo apt update
          sudo apt install texlive texlive-science texlive-latex-extra texlive-fonts-extra latexmk
      - name: Check for missing booktest files
        run: make check_booktests
      - name: Generate missing booktest files
        run: make generate_booktests
      - name: Install additional test dependencies
        run: |
          pip install -e .[test_torch]
          pip install -e .[test_gpytorch]
          pip install -e .[test_botorch]
          pip install -e .[test_umbridge]
      - name: Run notebook tests
        shell: bash -l {0}
        run: make booktests_no_docker
