# cSpell:words Booktests ipynb booktests booktest gpytorch botorch umbridge
name: Booktests

on:
  push:
    paths:
      - 'demos/**/*.ipynb'
      - '.github/workflows/booktests.yml'
  pull_request:
    paths:
      - 'demos/**/*.ipynb'
      - '.github/workflows/booktests.yml'

jobs:
  booktests:
    name: Notebook Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install LaTeX
        run: |
          sudo apt-get update
            sudo apt-get install -y texlive-full
      - uses: conda-incubator/setup-miniconda@v3
        with:
          miniconda-version: "latest"
          auto-activate-base: true
      - name: Install base dependencies
        run: pip install -e .[test]
      - name: Check for missing booktest files
        run: make check_booktests
      - name: Generate missing booktest files
        run: make generate_booktests
      - name: Install Jupyter kernel
        run: python -m ipykernel install --user --name=qmcpy
      - name: Run notebook tests
        shell: bash -l {0}
        run: make booktests_no_docker